.container{
    height: 50px;
    background-color: lightblue;
    color: white;
    display: flex;
    alig-items: center;
    justify-content: space-between;
    padding: 0 100px;
    font-size: 18px;
    position: sticky;
}

.listItem {
    display: inline;
    margin-right: 30px;
    font-size: 14px;
}

