.container {
    height: 50vh;
    overflow: hidden;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card {
    width: 64%;
    background: #E8F2F6;
    border-radius: 45px;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    margin: 0;
    color: #24487E;
}

.comma {
    font-size: 100px;
    font-family: cursive;
    text-align: center;
    margin: 0;
    color: rgba(36, 72, 126, 0.5);
}

.comment{
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center; 
    color: #24487E;
}

.name{
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(36, 72, 126, 0.5);

}

.post{
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(36, 72, 126, 0.5);
    padding-bottom: 20px;
}