.container {
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 64%;
    background: #e8f2f6;
    border-radius: 45px;
    align-items: center;
    margin: auto;
}

.title {
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    margin: 0;
    color: #24487e;
}
@media (max-width: 480px) {
    .title {
        font-size: 40px;
    }
}

.comma {
    font-size: 100px;
    font-family: cursive;
    text-align: center;
    margin: 0;
    color: rgba(36, 72, 126, 0.5);
}

.comment {
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #24487e;
}

.name {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(36, 72, 126, 0.5);
}

.post {
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(36, 72, 126, 0.5);
    padding-bottom: 20px;
}
