.card{
    width:fit-content;
    // color: #246D96;
    padding: 1rem;
    .number{
        // font-size: 6rem;
        font-size: clamp(4rem, 10vw, 6rem);

        // font-weight: bold;
    }
    .title{
        margin-top: -1.5rem;
        font-size: 2rem;
        text-align: center;
    }
}