.container{
    background: #E8F2F6;
}

.navbar {
    height: 10vh;
    background-color: #25497F;
    color: white;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    font-size: 18px;
    font-size: 24px;
}
