.container{
    height:fit-content;
    background: linear-gradient(0.5deg, #3192CA 12.81%, #24487E 59.29%);
    box-shadow: 0px 5px 12px 2px rgba(0, 0, 0, 0.25);
    overflow-x: hidden;
}
.introContainer{
    display: flex;
    padding: 25vh   5vw;
    color: #ffffff;
    .introtxt{
        flex-shrink: 1;
        h1{
            font-size: clamp(4rem, 10vw, 6rem);
            line-height: clamp(4.5rem,13.33vw,8rem);
        }
        p{
            font-size: clamp(1rem,2.5vw,1.5rem);
        }
        .link{
            background-color: #222;
            width: fit-content;
            padding: 2px 10px;
            margin-top: 1rem;
            border-radius: 10px;
            cursor: pointer;
            &:hover{
                background-color: #000;
                box-shadow: 2px 2px 10px 5px #0000001a;
            }
        }
    }
    .introAi{
        // flex-shrink: 0;
        img{
            position: relative;
            width:50rem;
            // left:20rem;
        }
    }
    form{
        display: flex;
        width: 100%;
        margin-top: 1rem;
        height: 3rem;
        button{
            color:#fff;
            margin-left: 1rem;
            background-color: #52d575;
            border: none;
            cursor: pointer;
            border-radius: 12px;
            width:50px;
        }
        input{
            padding-left: 1rem;
            border: none;
            border-radius: 12px;
            width:clamp(250px, 35vw, 350px);
        }
    }
}

.arrowDown{
    position: absolute;
    bottom:5rem;
    left: 49vw;
    animation: arrowDown 2s ease-out infinite;
}

@keyframes arrowDown{
    0%{bottom:5rem;}
    100%{bottom:1rem;}
}

@media screen and (max-width:1024px) {
.introAi{
    width: 0px;
    img{
        width:0px;
    }
}    
}