.container {
    padding-top: 10px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0.5deg, #3192ca 12.81%, #24487e 59.29%);
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 12px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
}
.heading {
    text-align: left;
}
.introcontent {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.navcontainer {
    height: 50px;
    background-color: rgba(173, 216, 230, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    font-size: 18px;
    position: sticky;
    font-size: 24px;
}

.card {
    flex: 1;
    padding: 100px;
    padding-right: 0;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.description {
    font-style: normal;
    font-weight: 300;
    font-size: 34px;
    line-height: 58px;
    margin: 0;
}

.title {
    font-style: bold;
    font-weight: 600;
    font-size: 80px;
    margin: 0;
    line-height: 90px;
}


.sponsors {
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.listItem {
    display: inline;
    margin-right: 30px;
    font-size: 24px;
    color: azure;
}

.list {
    padding: 0;
    font-size: 24px;
}

.emailgroup {
    display: flex;
    flex-direction: row;
}
.email {
    border-radius: 20px;
    border-style: none;
    width: 70%;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0px 20px;
}
.emailbutton {
    border-radius: 20px;
    border-style: none;
    width: 15%;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #24487e;
    margin-left: 10px;
    background-color: white;
    font-size: 24px;
}

@media(max-width: 767px) {
    #idek{
        /* : ndisplayone; */
        background-color: red;
        display: none;
    }
}

@media (max-width: 460px) {
    .emailgroup{
        width: fit-content;
        margin: auto;
        padding-left: 5vh;
    }
    .title {
        font-size: 60px;
        text-align: center;
    }
    .navlogo {
        display: none;
    }
    .container {
        height: fit-content;
    }
    #introlist {
        /* width: fit-content;
        margin: auto; */
        margin-left: 5vh;
    }
    .navcontainer {
        padding-left: 0;
        margin: 0;
    }
    .introcontent {
        text-align: center;
        width: auto;
        margin: auto;
    }
    #idek {
        display: none;
    }
    .sponsors {
        margin-top: 10%;
        /* padding-bottom: 0; */
    }
    .card {
        padding-bottom: 0;
        padding: 0;
    }
}