.container {
    padding-top: 10px;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0.5deg, #3192ca 12.81%, #24487e 59.29%);
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 12px 2px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: auto;
}

.logincontent {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}

.navcontainer {
    height: 50px;
    background-color: rgba(173, 216, 230, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    font-size: 18px;
    position: sticky;
    font-size: 24px;
}

.card {
    flex: 1;
    padding: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.title {
    font-style: bold;
    font-weight: 400;
    font-size: 130px;
    margin: 0;
    line-height: 130px;
    display: flex;
}


.listItem {
    display: inline;
    margin-right: 30px;
    font-size: 24px;
    color: azure;
}

.list {
    padding: 0;
    font-size: 24px;
}

.login {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    background: rgba(255, 255, 255, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 51px;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.35);
    box-sizing: border-box;
    border-radius: 10px;
    padding: auto;
}

.form {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.35);
    color: #ffffff;
    width: 70%;
    height: 60%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: transparent;
}

.loginbutton {
    border-radius: 20px;
    border-style: none;
    width: 35%;
    height: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
    color: #ffffff;
    margin-left: 10px;
    font-size: 24px;
    background: rgba(177, 212, 224, 0.5);
    border-radius: 47px;
}

.heading {
    font-weight: 400;
    font-size: 50px;
    line-height: 116px;
    color: #FFFFFF;

}