.active{
}
.nav{
    z-index: 99;
    display: flex;
    padding: 5px 0;
    position: fixed;
    background-color: #24487E;
    // border: 1px solid white;
    width: 100vw;
    // justify-content: space-around;
}
.imgcontainer{
    margin-left: clamp(20px, 5vw, 70px);
    min-width: clamp(40px, 5vw, 50px);
    img{
        width:clamp(40px, 5vw, 50px);
    }
}
.linkcontainer{
    display: flex;
    width:fit-content;
    // border:1px solid white;
    margin: 0 clamp(20px, 5vw, 70px) 0 auto;
    
}
.link{
    color:#fff;
    padding: 8px 12px;
    font-size: clamp(1rem,1.5vw ,1.5rem);
    cursor: pointer;
    &:hover, &:focus{
        color: #00ffff;
    }
    &:active{
        font-weight: bold;
    }
}