$lightBlueText : #246D96;
$lightBlue :#E8F2F6;
$darkBlue : #24487E;
$linkBlue : #3192CA;

.projectSection{
    background-color: $lightBlue;
    height: max-content;
    overflow: auto;

    section{
        width: 80%;
        margin :5rem auto;
    }

}
.projectHeading{
    font-size: 3.775rem;
    color:$darkBlue;
    margin:2rem auto 4rem;
    text-align: center;
    font-weight: 600;
}

.projectCardContainer{
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        justify-content: space-around;
        margin:"1rem auto";
        flex-wrap: wrap;
        gap: 2rem;
}

.projectCard {
  cursor: pointer;
    background-color: #fff;
    border-radius: 22px;
    padding: 2rem;
    // max-width: 350px;
    max-width: clamp(200px,25rem,350px);
    // flex-basis: 30%;
    // flex-shrink: 2;
    transition: all 1s ease;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    h4{
        transition: all 0.2s ease;
        color: $darkBlue;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
    }

    p{
        color : $lightBlueText;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: 0.15px;
        margin: 0rem 2.5rem;
    }

}

.projectCard:hover{
    transform: scale(1.1);
    h4{
        font-weight: 700;
    }
}

.projectCardImageContainer {
    width: 80px;
    min-width: 50px;
    color: $darkBlue;

    img {
        width: 100%;
        height: 100%;
        display: block;
        margin: 1rem 2.5rem;
    }
}
.projectLink {
    color : $linkBlue;
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 600;
    margin:2rem 0 1rem;
    display: block;
    font-size: 1.5rem;
}
@media all and (max-width : 1400px){

    .projectSection {

        section{
            width: 90%;
        }
    }

    .projectCardContainer {
        // justify-content: center;
    }

    .projectCard{
        h4{
            font-size: 1.5rem;
        }

        p{
            font-size: 1rem;
        }
    }
}
