.container {
    top: 0;
    width: 100%;
    height: calc(70vh - 50px);
    position: relative;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.projects {
    flex: 1;
    background: #246d96;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex: 1;
    color: #24487e;
    background: #ffffff;
}

.title {
    font-size: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    /* top: 129px; */
    left: 0;
}

.prj{
    border-bottom: 3px dotted rgba(241, 241, 241, 0.2);
    font-size: 80px;
}

.cards{
    border-radius: 2%;
    margin: 5%;
    background: rgba(241, 241, 241, 0.2);
    flex-direction: column;
    color: #ffffff;
    /* border-color: black; */
    height: 90%;
    display: block;
    align-self: center;
    overflow-y: auto;
}

.descr {
    margin-bottom: 5px;
}

.name {
    margin-top: 50px;
}

@media (max-width: 460px) {
    .container {
        flex-direction: column;
    }
    .title {
        font-size: 40px;
    }
    .projects{
        /* display: none; */
        height: 50vh;
    }
}
