.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    /* background-color: red; */
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 5%;
    border-style: none;
    /* border-color: black; */
    background-color: #a8b6cc;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height: 350px;
}

.col {
    padding-top: 50px;
    padding-bottom: 50px;
}

.subtitle {
    margin-bottom: 5px;
    color: #24487e;
}
.title {
    color: #24487e;
    margin-top: 50px;
}

@media (max-width: 460px) {
    .card_container{
        display: block;
        align-items: center;
        margin-left: 0;
    }
    .card {
        width: 40vh;
        margin-left: none;

        /* margin: none !important; */
        height: auto;
        transform: translateX(-8%);
        margin-bottom: 10%;
    }
    .subtitle {
        margin-bottom: 50px;
        text-align: center;
    }
    .col {
        padding-top: 0;
        padding-right: 0;
        width: fit-content;
        margin-right: 0;
    }
    /*  */
}
