.container {
    height: 50vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card {
    width: 64%;
    background: #e8f2f6;
    border-radius: 45px;
    align-items: center;
    margin: auto;
}

.title {
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    margin: 0;
    color: #24487e;
}

.comma {
    /* font-size: 100px; */
    font-family: cursive;
    text-align: center;
    margin: 0;
    color: #24487e80;
    padding: 4%;
}
.commasvg {
    width: 48px;
    height: 48px;
    color: #24487e80;
    /* padding: 5%; */
    /* padding-top: 5%; */
}
.comment {
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #24487e;
}


.name {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(36, 72, 126, 0.5);
}

.post {
    margin-top: 0;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: rgba(36, 72, 126, 0.5);
    padding-bottom: 20px;
}

@media (max-width: 480px) {
    .comment {
        font-size: 20px;
        display: inline;
        /* margin */
        /* color: red; */
    }
    .commasvg {
        width: 36px;
        height: 36px;
    }
    .comma {
        /* display: inline; */
        padding: none;
    }
    .title {
        font-size: 40px;
        /* margin-top: 10vh; */
    }
    .card {
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 0;
        height: fit-content;
    }
}